body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #94e98a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #94e98a;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 100%;
    padding: 10px 2px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.cancel-button{
    background: #b40909;
    color: #fbf7f7;
    padding: 10px 21px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.cancel-button:hover{
    background: #69201b;
}
button {
    background: #007BFF;
    color: #fbf7f7;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
