<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/css/navbar_contach_dashboard.css"/>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-logo">Cavite State University</div>
    <ul class="navbar-links">
      <li><a href="/">Home</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>

  <div class="container">
          <h2>Management System</h2>
    <div class="add-learner-btn"> 
          <a href="{% url 'add_learner' %}">Add Students</a>
    </div>
    <div class="header-container">
      <h1>All Students</h1>
    </div>
    <ul>
      {% for learner in learners %}
        <li><a href="/student/{{ learner.id }}/">{{ learner.full_name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <footer class="main-footer">
        <div class="footer-content">
            <p>&copy; 2025 Records Management System. All rights reserved.</p>
            <p>Designed with <span style="color: #e25555;">&hearts;</span> for students.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>

</body>
</html>
